<p><strong>Nome:</strong> <%= @plan.name %></p>
<br>
<p><strong>Descrição:</strong> <%= @plan.description %></p>
<br>
<p><strong>Detalhes:</strong></p>
<% @plan.details.each do |detail| %>
  <p><%= detail %></p>
<% end %>
<br>
<p><strong>Produto:</strong> <%= @plan.product.name %></p>
