<p><strong>Nome:</strong> <%= @plan.name %></p>
<br>
<p><strong>Descrição:</strong> <%= @plan.description %></p>
<br>
<p><strong>Detalhes:</strong> <%= @plan.details[0] %></p>
<br>
<p><strong>Produto:</strong> <%= @plan.product.name %></p>
